<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swagger UI</title>
</head>
<body>

<div id="swagger-ui"></div>

<script type="module">
    import SwaggerUIBundle from 'swagger-ui-dist/swagger-ui-bundle.js';

    const ui = SwaggerUIBundle({
        url: "/api/swagger.json",
        dom_id: '#swagger-ui',
        presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIBundle.SwaggerUIStandalonePreset
        ],
        layout: "BaseLayout",
    });

    window.ui = ui;
</script>

</body>
</html>